<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>workflows</key>
    <array>
      <dict>
          <key>name</key>
          <string>Tester</string>
          <key>description</key>
          <string>Just installing packages and stuff.</string>
          <key>bless_target</key>
          <false/>
          <key>components</key>
          <array>
              <dict>
                  <key>type</key>
                  <string>package</string>
                  <key>url</key>
                  <string>https://raw.githubusercontent.com/clburlison/imagr-testing/master/pkgs/sleeper-1.0.pkg</string>
              </dict>
          </array>
      </dict>
    </array>
  </dict>
</plist>
